/*=========================================*/
/* COLORS USED
Button Hover/Border: #27ae60,
Header Nav Hover, Active; #1efa59,
Color Tint on Hero Image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))


*/
/*=========================================*/


/*=========================================*/
/* BASIC SETUP*/
/*=========================================*/

* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}




/*=========================================*/
/* HEADER*/
/*=========================================*/
.home{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-content{
    position: absolute;
    max-width: 1140px;
    top: 31%;
    left: 50%;    
}

.hero-content h1{
    color: #fff;
    font-size: 250%;
    font-weight: 300;
}

/*=========================================*/
/* ABOUT US PAGE*/
/*=========================================*/
.about-us-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.about-us-heading h1{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.about-us-content{
  text-align: justify;
  margin-top: 40px;
}

.obj-steps div{
  color: #fff;
  border: 1px solid #27ae60;
  background-color: #27ae60;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  float:left;
  font-size: 120%;
}

/*=========================================*/
/* MANAGING TRUSTEES PAGE*/
/*=========================================*/
.managing-trustees-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.managing-trustees-heading h1{

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.managing-trustees-content img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}

.managing-trustees-content .mt-list{
  margin-top:80px;
  
}

.managing-trustees-content p{
  text-align: justify;
}

/*=========================================*/
/* AWARDS PAGE*/
/*=========================================*/
.awards-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.awards-heading h1{

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.awards-content .awards-list{
  margin-top:40px; 
}

.awards-content p{
  text-align: justify;
}
/*=========================================*/
/* FIN AID PAGE*/
/*=========================================*/
.fin-aid-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.fin-aid-heading h1{

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.fin-aid-content{
  margin-top:40px; 
}

.fin-aid-content p{
  text-align: justify;
}

.fin-aid-content img{
  width: 100%;
}
/*=========================================*/
/* PUBLISHING PAGE*/
/*=========================================*/
.publish-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.publish-heading h1{

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.publish-content{
  margin-top:40px; 
}

.publish-content p{
  text-align: justify;
}

.publish-content img{
  width: 100%;
}

/*=========================================*/
/* MEDIA PAGE*/
/*=========================================*/
.text-center .btn{
  border-radius: 200px;
  transition: background-color 0.5s;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}



.text-center .btn-outline-dark:hover{

  background-color: #27ae60;
  color: #fff;
  border: 1px solid #fff;
}

.text-center .active{
  background-color: #27ae60 !important;
  color: #fff;
  border: 1px solid #27ae60 !important;
}

.boxImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.gallery-title
{
  font-size: 36px;
  color: #34d15e;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #27ae60;
}
.filter-button
{
  font-size: 18px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  text-align: center;
  color: #34d15e;
  margin-bottom: 30px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #27ae60;

}
.filter-button .active
{
  background-color: #27ae60;
  color: white;
}
.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
-webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.block{
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=========================================*/
/* CONTACT PAGE*/
/*=========================================*/
.contact-header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/resources/css/img/hero-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
}

.contact-heading h1{

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 200%;
}

.contact-content{
  margin-top:40px; 
  margin-bottom: 40px;
}

.contact-content ul li{
  list-style: none;
}

.contact-content ion-icon{
  font-size: 150%;
  text-align: center;
  color: #27ae60 !important;
}

.ngo-support{
  margin-top: 40px;
  text-align: justify;
}

.btn{
  border-radius: 200px;
  transition: background-color 0.5s;
}

.btn-outline-dark:hover{
  background-color: #27ae60;
  color: #fff;
  border: 1px solid #fff;
}

.publish-content img{
  width: 100%;
}
/*=========================================*/
/* SOCIAL  NAV  */
/*=========================================*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.social-nav {
    position: fixed;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .social-nav a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
  }

 
  
  /* Style the social media icons with color, if you want */
  .social-nav a:hover {
    background-color: #27ae60;
  }
  
  .facebook {
    background: #3B5998;
    color: white  !important;
  }
  
  .twitter {
    background: #55ACEE;
    color: white !important;
  }
  
  .linkedin {
    background: #007bb5;
    color: white !important;
  }
  
  .youtube {
    background: #bb0000;
    color: white !important;
  }

/*=========================================*/
/* BUTTONS*/
/*=========================================*/
.hero-cta{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    border-radius: 200px;
    transition: background-color 0.5s;
}

.hero-cta:hover{
    background-color: #27ae60;
    color: #fff;
    border-color: #27ae60;
}

.main-nav li a{
    color: #fff !important; 
    font-size: 90%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 75%;
    margin-left: 10px;  
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 1px solid #1efa59;
   
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  /* .dropdown-menu a{
    color: #fff !important; 
    font-size: 90%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 75%;
    margin-left: 10px;  
  } */
  
  .dropdown:hover .dropdown-menu:hover {
    display: block;
    border-bottom: 1px solid #1efa59;
    color: #fff !important; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300 !important;
    
  }

  .dropdown-item{
      background-color: transparent !important;
      
  }


/*=========================================*/
/* Home Page Activities */
/*=========================================*/
.activities-header{
  text-align: center;
  margin-top: 40px;
}
.activities-sec ion-icon{
  font-size: 150%;
  text-align: center;
  color: #27ae60 !important;
}

.card-deck .container .row h2{
  margin-top: 40px;
  float:left;
}

.card-deck p{
  text-align: justify;
}

.btn{
  border-radius: 200px;
  transition: background-color 0.5s;
}

.btn-outline-dark:hover{
  background-color: #27ae60;
  color: #fff;
  border: 1px solid #fff;
}

/*=========================================*/
/* Home Page About Us */
/*=========================================*/


.home-aboutus{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('/resources/css/img/index-about-us.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;

  margin-top: 40px;
  
}

.home-aboutus-header h2{

  text-align: center;
  margin-top: 40px;
  color: #fff;
}

.home-aboutus img{
  width: 100%;
  height: 100%;
}

.home-aboutus p{
  color: #fff;
  text-align: justify;
  box-shadow: 1px 2px 4px rgba(255, 255, 255, .5);

  
}

.home-aboutus-btn{
  margin-top: 20px;
  text-align: center;
}

.home-aboutus-btn .btn{
  border-radius: 200px;
  transition: background-color 0.5s;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.home-aboutus-btn .btn:hover{
  background-color: #27ae60;
  color: #fff;
  border: none;
  
}
/*=========================================*/
/* Home Page Upcoming Event */
/*=========================================*/


.home-upcoming{
  background-color: #fff;
  height: 100%;

  margin-top: 40px;
  margin-bottom: 60px;
}

.home-upcoming-header h2{

  text-align: center;
  margin-top: 40px;
  color: #000;
}

.home-upcoming img{
  width: 100%;
  height: 100%;
}

.home-upcoming p{
  color: #000;
  text-align: justify;
  box-shadow: 1px 2px 4px rgba(255, 255, 255, .5);

  
}

.home-upcoming-btn{
  margin-top: 20px;
  text-align: center;
}

.home-upcoming-btn .btn{
  border-radius: 200px;
  transition: background-color 0.5s;
  color: #000;
  border: 1px solid #000;
  
}

.home-upcoming-btn .btn:hover{
  background-color: #27ae60;
  color: #fff;
  border: none;
  
}

/*=========================================*/
/* Home Page Previous Event */
/*=========================================*/
.home-previous{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('/resources/css/img/previous-events.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;

  color: #fff;
}
.home-previous h2{
  text-align: center;
  margin-top: 160px;
}

.home-previous img{
  width: 100%;
  margin-top: 20px;
}

.home-previous .btn{
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 80px;
}

.home-previous .btn:hover{
  border: none;
}

.modal button:hover{
  background-color: #27ae60;
  color: #fff;
  border: none;
}
.modal-header h5{
  color: #000 !important;
}

.modal-body p{
  color: #000 !important;
}

/*=========================================*/
/* Home Page Testimonials */
/*=========================================*/
.home-testimonials-header{
  text-align: center;
  margin-top: 40px;
}
.carousel{
  margin-top: 40px;
}

.carousel-item img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: center;
  margin-bottom: 30px;
}

.carousel-item h6{
  text-align: center;
}

.carousel-item p{
  text-align: justify;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  color: white !important;
  background-size: 100%, 100%;
 
  /* border-radius: 50%;
  border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #27ae60;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #27ae60;
}
/*=========================================*/
/* Footer */
/*=========================================*/

.page-footer{
  border: 1px solid black;
  margin-top: 40px;
  color: #fff;

  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('/resources/css/img/footer-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100%;

}

.page-footer ul li a{
  color: #fff;
  text-decoration: none;
}

.page-footer ul li a:hover{
 border-bottom: 1px solid #27ae60;
}

.footer-copyright a{
  color: #fff;
  text-decoration: none;
}

.footer-copyright a:hover{
  border-bottom: 1px solid #27ae60;
}
/*=========================================*/
/* Media Screens*/
/*=========================================*/

/* Extra Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) {  

  /* .home-aboutus img{
    width: 100%;
    height: 100%;
  }
  
  .home-aboutus p{
    color: #fff;
    text-align: justify;
    box-shadow: 1px 2px 4px rgba(255, 255, 255, .5);
    font-size: 65%;
    
  } */

  .carousel-item p{
    font-size: 75%;
  }

  .managing-trustees-content {
    padding: 10px;
  }
  
   
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

  .carousel-item p{
    font-size: 90%;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

  .carousel-item p{
    font-size: 100%;
  }
  
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  /* .carousel-item p{
    font-size: %;
  } */
  
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
 